.content {
  width: 20rem;
}

.buttons {
  display: flex;
  justify-content: right;
}

.formInput {
  width: 100%;
  display: block;
  margin-top: 20px;
}

#buy-credits-btn {
  color: #fff;
  background-color: #000;
  font-weight: bold;
}

#buy-credits-btn:hover {
  color: #fff;
  background-color: #000000d9;
  font-weight: bold;
}

#close-btn {
  background-color: #e7e7e7;
  color: #000;
  box-shadow: none;
  font-weight: bold;
}

#close-btn:hover {
  background-color: #dadada;
  color: #000;
  box-shadow: none;
  font-weight: bold;
}
