<h2 mat-dialog-title>Cancellation description</h2>
<div mat-dialog-content class="content">
  <form [formGroup]="form">
    <mat-form-field class="formInput" appearance="outline">
      <mat-label>Reason</mat-label>
      <input matInput type="text" formControlName="reason" />
      <mat-hint *ngIf="trip.tripStatus === 'ACCEPTED'"
        >*You will pay a fee because trip is already accepted</mat-hint
      >
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions class="buttons">
  <button mat-raised-button id="buy-credits-btn" (click)="cancelTrip()">
    Cancel trip
  </button>
  <button mat-raised-button mat-dialog-close id="close-btn">Close</button>
</mat-dialog-actions>
