<div class="active-trips">
  <div
    class="active-trip"
    *ngFor="let trip of activeTrips"
    (click)="showDetails(trip)"
  >
    <span class="status">{{ trip.tripStatus }}</span>
  </div>
</div>

<p-toast
  position="top-right"
  key="cancel-trip-message"
  id="cancel-trip-message"
></p-toast>
