.active-trips {
  height: fit-content;
  width: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-trip {
  height: 70px;
  width: 70px;
  border: 1px solid;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
}

.active-trip:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  background-color: #000000d9;
}

.status {
  font-size: 8.5pt;
}
