<nav>
  <div class="navbar-container">
    <div class="logo">
      <img src="../../assets/logo.png" alt="Logo" />
    </div>
    <ul class="navbar-links">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Sign up</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
