<div align="center">
  <mat-card>
    <br />
    <mat-card-title>Welcome to Uber</mat-card-title>
    <p>Log in to access your account</p>
    <br />
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
        <p>
          <mat-form-field [hideRequiredMarker]="true">
            <mat-label>Username</mat-label>
            <input
              type="text"
              matInput
              [formControl]="usernameFormControl"
              [errorStateMatcher]="matcher"
              id="username"
            />
            <mat-error *ngIf="usernameFormControl.hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field [hideRequiredMarker]="true">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              [formControl]="passwordFormControl"
              [errorStateMatcher]="matcher"
              id="password"
            />
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p class="error">{{ error }}</p>
        <button id="subBtn" class="button" type="submit" mat-raised-button>
          Log in
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
