:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}

.button {
  display: flex;
}

.mat-mdc-raised-button.mat-unthemed {
  color: #fff;
  background-color: #000;
}
.mat-mdc-raised-button.mat-unthemed:hover {
  color: #fff;
  background-color: #000000d9;
}
