<div align="center">
  <mat-card class="register">
    <mat-card-title class="title"> Welcome to Uber </mat-card-title>
    <p class="subtitle">Register and travel comfortably from place to place</p>
    <mat-card-content>
      <form class="register-form" [formGroup]="registerFormGroup">
        <mat-form-field class="register-form-input" appearance="fill">
          <mat-label>First name</mat-label>
          <input
            type="text"
            matInput
            [formControl]="nameFormControl"
            [errorStateMatcher]="matcher"
            id="name"
            placeholder="John"
          />
          <mat-error
            *ngIf="
              nameFormControl.hasError('pattern') &&
              !nameFormControl.hasError('required')
            "
          >
            First name must begin with uppercase letter
          </mat-error>
          <mat-error *ngIf="nameFormControl.hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="register-form-input" appearance="fill">
          <mat-label>Last name</mat-label>
          <input
            type="text"
            matInput
            [formControl]="surnameFormControl"
            [errorStateMatcher]="matcher"
            id="surname"
            placeholder="Doe"
          />
          <mat-error
            *ngIf="
              surnameFormControl.hasError('pattern') &&
              !surnameFormControl.hasError('required')
            "
          >
            Last name must begin with uppercase letter
          </mat-error>
          <mat-error *ngIf="surnameFormControl.hasError('required')">
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="register-form-input" appearance="fill">
          <mat-label>Username</mat-label>
          <input
            type="text"
            matInput
            [formControl]="usernameFormControl"
            [errorStateMatcher]="matcher"
            id="username"
            placeholder="john_doe123"
          />
          <mat-error
            *ngIf="
              usernameFormControl.hasError('pattern') &&
              !usernameFormControl.hasError('required')
            "
          >
            Username must contain 2 to 20 characters including numbers, letters,
            _ and .
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="register-form-input" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input
            type="email"
            matInput
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
            id="email"
            placeholder="john.doe@example.com"
          />
          <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            E-mail address is not valid
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            E-mail is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="register-form-input" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            [formControl]="passwordFormControl"
            [errorStateMatcher]="matcher"
            id="password"
            placeholder="your password"
          />
          <mat-error
            *ngIf="
              passwordFormControl.hasError('minlength') &&
              !passwordFormControl.hasError('required')
            "
          >
            Password must contain at least 8 characters
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="register-form-input" appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input
            type="password"
            matInput
            [formControl]="password2FormControl"
            [errorStateMatcher]="matcher"
            id="password2"
            placeholder="your password"
          />
          <mat-error
            *ngIf="
              !password2FormControl.hasError('required') &&
              password2FormControl.hasError('wrongValue')
            "
          >
            Passwords are not matching
          </mat-error>
          <mat-error *ngIf="password2FormControl.hasError('required')">
            Confirm password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="register-form-input" appearance="fill">
          <mat-label>Phone number</mat-label>
          <input
            type="tel"
            matInput
            [formControl]="phoneFormControl"
            [errorStateMatcher]="matcher"
            id="phone"
            placeholder="+381601122365"
          />
          <mat-error
            *ngIf="
              phoneFormControl.hasError('pattern') &&
              !phoneFormControl.hasError('required')
            "
          >
            Phone number must be in format: +381601122365
          </mat-error>
          <mat-error *ngIf="phoneFormControl.hasError('required')">
            Phone number is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          class="submit-btn"
          (click)="submit()"
          type="submit"
        >
          Register
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<p-toast
  position="top-right"
  key="registration-message"
  id="register"
></p-toast>
