.container {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  padding-bottom: 20px;
  margin: 100px 20% 80px 20%;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}

.left {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1;
}

.right {
  flex: 2;
  padding-top: 15px;
}

.profilePhoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.formInput {
  width: 40%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 95%;
}

button {
  width: 30%;
  padding: 10px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.file-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  cursor: pointer;
  color: black;
}

.fileInput {
  padding-top: 10px;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

#update-btn {
  color: #fff;
  background-color: #000;
  font-weight: bold;
}

#update-btn:hover {
  color: #fff;
  background-color: #000000d9;
  font-weight: bold;
}

#password-btn {
  color: #fff;
  background-color: #000;
  font-weight: bold;
}

#password-btn:hover {
  color: #fff;
  background-color: #000000d9;
  font-weight: bold;
}

#credits-btn {
  background-color: #e7e7e7;
  color: #000;
  box-shadow: none;
}

#credits-btn:hover {
  background-color: #dadada;
  color: #000;
  box-shadow: none;
}
