<div class="container">
  <div class="left">
    <img
      id="privremen"
      style="
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        background-color: aquamarine;
      "
      [src]="profilePhoto"
    />
    <!-- <app-profile-photo
      class="profilePhoto"
      style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover"
      [username]="username"
      [profilePhoto]="profilePhoto"
    >
    </app-profile-photo> -->
    <div class="credits" *ngIf="credits !== null">
      Credits: {{ credits }}
      <mat-icon style="margin-left: 5px; color: black"
        >monetization_on</mat-icon
      >
    </div>
  </div>
  <div class="right">
    <form [formGroup]="form">
      <div class="formInput fileInput">
        <label for="file" class="file-label">
          Change photo:
          <mat-icon class="icon">cloud_upload</mat-icon>
        </label>
        <input
          type="file"
          id="file"
          accept="image/*"
          style="display: none"
          (change)="selectPhoto($event)"
        />
      </div>
      <mat-form-field
        class="formInput"
        appearance="fill"
        [hideRequiredMarker]="true"
      >
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
      </mat-form-field>
      <mat-form-field
        class="formInput"
        appearance="fill"
        [hideRequiredMarker]="true"
      >
        <mat-label>First name</mat-label>
        <input matInput type="text" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field
        class="formInput"
        appearance="fill"
        [hideRequiredMarker]="true"
      >
        <mat-label>Last name</mat-label>
        <input matInput type="text" formControlName="lastName" />
      </mat-form-field>
      <mat-form-field
        class="formInput"
        appearance="fill"
        [hideRequiredMarker]="true"
      >
        <mat-label>Phone</mat-label>
        <input matInput type="text" formControlName="phoneNumber" />
      </mat-form-field>
      <mat-form-field
        class="formInput"
        appearance="fill"
        [hideRequiredMarker]="true"
      >
        <mat-label>E-mail</mat-label>
        <input matInput type="text" formControlName="email" />
      </mat-form-field>

      <div class="buttons">
        <button
          mat-raised-button
          type="button"
          id="password-btn"
          (click)="openPasswordDialog()"
        >
          Change password
        </button>
        <button
          mat-raised-button
          type="submit"
          id="update-btn"
          (click)="updateUser()"
        >
          Update profile
        </button>
        <button
          mat-raised-button
          type="button"
          id="credits-btn"
          color="accent"
          (click)="openCreditsDialog()"
          *ngIf="credits !== null"
        >
          Buy credits
        </button>
      </div>
    </form>
  </div>
</div>

<p-toast position="top-right" key="update-profile-message"></p-toast>
<p-toast position="top-right" key="change-password-message"></p-toast>
<p-toast position="top-right" key="buy-credits-message"></p-toast>
