<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Accept a card payment</title>
    <meta name="description" content="A demo of a card payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script th:inline="javascript">
        var stripePublicKey = /*[[${stripePublicKey}]]*/ null;
        var amount = /*[[${amount}]]*/ null;
        var email = /*[[${email}]]*/ null;
        var featureRequest = /*[[${featureRequest}]]*/ null;
  </script>
    <script type="text/javascript" src="/js/client.js" defer></script>
</head>

<body>
<div class="container">
    <div class="form-card">
        <form id="payment-form">
            <p><b>Credit card details to complete payment</b></p>
            <p>Press the pay now button to complete your payment of <span th:text="${amount}"></span>USD.</p>
            <label for="card-element">
                Credit or debit card
            </label>
            <div id="card-element" class="form-control">
                <!--Stripe.js injects the Card Element-->
            </div>
            <button id="submit" class="btn btn-primary">
                <span id="button-text">Pay now</span>
            </button>
        </form>

    </div>

</div>
</body>
</html>