nav {
  background-color: #000;
  color: #fff;
  height: 80px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 80px;
  vertical-align: middle;
}

.navbar-links {
  list-style-type: none;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
}

.navbar-links li a:hover {
  color: #ccc;
}

#logout-btn:hover {
  cursor: pointer;
  color: #ccc;
}
