<nav>
  <div class="navbar-container">
    <div class="logo">
      <a routerLink="/home"><img src="../../assets/logo.png" alt="Logo" /></a>
    </div>
    <ul class="navbar-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><div id="logout-btn" (click)="logout()">Logout</div></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<p-toast position="top-right" key="notification" id="notification"></p-toast>
