.register {
  width: 40%;
  margin-top: 50px;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.register-form-input {
  width: 80%;
}
.register-form {
  padding-bottom: 10px;
}

.submit-btn {
  display: flex;
}

.mat-mdc-raised-button.mat-unthemed {
  color: #fff;
  background-color: #000;
}

.mat-mdc-raised-button.mat-unthemed:hover {
  color: #fff;
  background-color: #000000d9;
}

.subtitle {
  margin-bottom: 25px;
}
