<h2 mat-dialog-title>Buy credits</h2>
<div mat-dialog-content class="content">
  <form [formGroup]="form">
    <mat-form-field class="formInput" appearance="outline">
      <mat-label>Amount</mat-label>
      <input matInput type="text" formControlName="credits" />
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions class="buttons">
  <button mat-raised-button id="buy-credits-btn" (click)="buyCredits()">
    Buy credits
  </button>
  <button mat-raised-button mat-dialog-close id="close-btn">Cancel</button>
</mat-dialog-actions>
