<h2 mat-dialog-title>Trip details</h2>
<div mat-dialog-content class="content">
  <div class="wrapper">
    <!-- Ovo treba da bude wrapper a onda status klasu treba da ima svaki div plus jos dodatnu klasu u odnosu na status -->
    <div class="location-container">
      <span class="location-circle"></span>
      <span class="trip-location"
        ><i>{{ trip.source }}</i></span
      >
    </div>
    <div
      class="status"
      [class.status-pending]="trip.tripStatus === 'PENDING'"
      [class.status-accepted]="trip.tripStatus === 'ACCEPTED'"
      [class.status-started]="trip.tripStatus === 'STARTED'"
    >
      {{ trip.tripStatus }}
    </div>
  </div>
  <div class="lines">
    <span class="line"> | </span>
    <span class="line"> | </span>
    <span class="line"> | </span>
    <span class="line"> | </span>
    <span class="line"> | </span>
  </div>
  <div class="location-container">
    <span class="location-circle"></span>
    <span class="trip-location"
      ><i>{{ trip.destination }}</i></span
    >
  </div>
  <div class="location-container trip-field">
    <span class="trip-location">Distance:</span>
    <span class="trip-location">{{ trip.distance }}km</span>
  </div>
  <div class="location-container trip-field">
    <span class="trip-location">Price:</span>
    <span class="trip-location">{{ trip.price }}din</span>
  </div>
  <div *ngIf="trip.driverUsername" class="location-container trip-field">
    <span class="trip-location">Driver username:</span>
    <span class="trip-location">{{ trip.driverUsername }}</span>
  </div>
</div>
<mat-dialog-actions class="buttons">
  <button
    *ngIf="trip.tripStatus !== 'STARTED'"
    mat-raised-button
    id="cancel-trip-btn"
    (click)="cancelTrip()"
  >
    Cancel trip
  </button>
  <button mat-raised-button mat-dialog-close id="close-btn">Close</button>
</mat-dialog-actions>
