.content {
  width: 30rem;
  color: black;
}

.buttons {
  display: flex;
  justify-content: right;
}

.formInput {
  width: 100%;
  display: block;
  margin-top: 20px;
}

#cancel-trip-btn {
  color: #fff;
  background-color: #000;
  font-weight: bold;
}

#cancel-trip-btn:hover {
  color: #fff;
  background-color: #000000d9;
  font-weight: bold;
}

#close-btn {
  background-color: #e7e7e7;
  color: #000;
  box-shadow: none;
  font-weight: bold;
}

#close-btn:hover {
  background-color: #dadada;
  color: #000;
  box-shadow: none;
  font-weight: bold;
}

.location-circle {
  min-width: 10px;
  height: 10px;
  max-height: 10px;
  background-color: #000;
  border-radius: 50%;
  display: block;
}

.location-container {
  display: flex;
  align-items: center;
}

.trip-field {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.trip-location {
  margin-left: 10px;
}

.lines {
  margin-bottom: 10px;
}

.line {
  display: block;
  margin-left: 3px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.status {
  border-radius: 10%;
  text-decoration: none;
  padding: 5px;
  height: fit-content;
}

.status-pending {
  border: 1px dotted #be5900;
  color: #be5900;
}

.status-accepted {
  border: 1px dotted #0d9700;
  color: #0d9700;
}

.status-started {
  border: 1px dotted #0086af;
  color: #0086af;
}
