:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

mat-form-field {
  width: 100%;
  min-width: 100px;
}

mat-card {
  width: 25vw;
}

button {
  width: 80%;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.error {
  color: red;
}

.button {
  display: flex;
}

.mat-mdc-raised-button.mat-unthemed {
  color: #fff;
  background-color: #000;
}
.mat-mdc-raised-button.mat-unthemed:hover {
  color: #fff;
  background-color: #000000d9;
}
