.map-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.container {
  position: absolute;
  z-index: 1;
  width: 25%;
  max-width: 400px;
  margin: 100px 100px;
  background-color: rgba(255, 255, 255, 0.9);
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 80px 0 50px 45px;
}

.form {
  padding: 50px 45px 50px 0;
}

mat-form-field {
  width: 100%;
  bottom: 0;
}

.title {
  font-size: 35pt;
  font-weight: bold;
}

.btn-wrapper {
  display: flex;
  gap: 20px;
}

#routes-btn {
  color: #000;
  background-color: #e7e7e7;
  font-weight: bold;
  height: 47px;
  box-shadow: none;
}

#routes-btn:hover {
  color: #000;
  background-color: #dadada;
  box-shadow: none;
}

#order-btn {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  height: 47px;
  box-shadow: none;
}

#order-btn:hover {
  background-color: #000000d9;
  color: #fff;
  box-shadow: none;
}

.field-container {
  position: relative;
}

/* Styles for the dropdown menu */
.dropdown-menu {
  width: 100%;
  max-height: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: whitesmoke;
  overflow-y: scroll;
  position: absolute;
  top: calc(100% - 20px);
  border-top: none;
  z-index: 2;
}

.dropdown-item {
  padding: 15px 20px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #e7e7e7;
}

.dropdown-item.selected {
  background-color: #e7e7e7;
}

/* Hide scrollbar when not scrolling */
.dropdown-menu::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: transparent; /* Set the background color of the scrollbar track */
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the scrollbar thumb */
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

.dropdown-menu::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}

.dropdown-menu::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2; /* Background color of the scrollbar track on hover */
}
