<div class="map-container">
  <div
    id="map"
    leaflet
    (leafletMapReady)="initializeMap($event)"
    [leafletOptions]="options"
  ></div>

  <div class="container" cdkDragBoundary=".map-container" cdkDrag>
    <div class="title-wrapper"><p class="title">Request a trip</p></div>
    <form class="form" [formGroup]="searchForm">
      <div class="field-container">
        <mat-form-field id="src">
          <mat-label>Pickup location</mat-label>
          <input
            matInput
            type="text"
            formControlName="source"
            placeholder="Enter pickup location"
            name="source"
            (keydown)="onKeyDown(true, $event)"
            (focus)="srcSubscribe()"
          />
          <button
            *ngIf="source.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearField(true)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <div
          *ngIf="srcAddresses && srcAddresses.length > 0"
          class="dropdown-menu"
        >
          <ul>
            <li
              class="dropdown-item"
              (click)="selectAddress(true, srcAddress)"
              *ngFor="let srcAddress of srcAddresses; let i = index"
              [class.selected]="i === selectedAddressIndexSrc"
            >
              {{ srcAddress.display_name }}
            </li>
          </ul>
        </div>
      </div>

      <div class="field-container">
        <mat-form-field id="dest">
          <mat-label>Destination</mat-label>
          <input
            matInput
            type="text"
            formControlName="destination"
            placeholder="Enter destination"
            name="destination"
            (keydown)="onKeyDown(false, $event)"
            (focus)="destSubscribe()"
          />
          <button
            *ngIf="destination.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearField(false)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <div
          *ngIf="destAddresses && destAddresses.length > 0"
          class="dropdown-menu"
        >
          <ul>
            <li
              class="dropdown-item"
              (click)="selectAddress(false, destAddress)"
              *ngFor="let destAddress of destAddresses; let i = index"
              [class.selected]="i === selectedAddressIndexDest"
            >
              {{ destAddress.display_name }}
            </li>
          </ul>
        </div>
      </div>
    </form>
    <div class="btn-wrapper">
      <button mat-raised-button id="routes-btn" (click)="findRoutes()">
        Find routes
      </button>
      <button mat-raised-button id="order-btn" (click)="orderTrip()">
        Order trip
      </button>
    </div>
  </div>
  <app-active-trips [newTrip]="newTrip"></app-active-trips>
</div>

<p-toast
  position="top-right"
  key="order-trip-message"
  id="order-trip-message"
></p-toast>
