.center {
  margin-left: 25%;
  width: 50%;
  position: absolute;
  top: 30%;
  transform: translate(0, -50%);
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.mat-mdc-raised-button.mat-unthemed {
  color: #fff;
  background-color: #000;
}
.mat-mdc-raised-button.mat-unthemed:hover {
  color: #fff;
  background-color: #000000d9;
}
