<div class="center">
  <h1>Sorry, we couldn’t find that page</h1>
  <div>
    <p>
      We have shifted a few things around, and your page must have gotten lost.
      Try retyping the address or just head back to our home page.
    </p>
  </div>
  <button mat-raised-button (click)="goToHome()">Go to home page</button>
</div>
